.hero,
.cover {
  width: 100%;
  height: 200px;
  background: var(--background-hero);
  position: absolute;
  top: 0;
  left: 0;
}

.cover {
  background: linear-gradient( 0deg,var(--color-homepage-dark),var(--color-homepage-light) );
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
}

.waves {
  overflow: hidden;
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 165px;
  width: 100%;
  height: 35px;
  transform: translateY(1px);
  z-index: 2;
  fill: var(--background-main);
}
