:root {
  --logo-accent: #4433ff;
  --logo-secondary: #f3bc1c;

  --text-color: #282828;
  --text-secondary-color: #787878;

  --link-hover: #338af9;
  --color-accent: #218af9;

  --background-main: #fbf3d0;
  --background-hero: #0e141b;

  --color-homepage-light: hsla(200deg, 100%, 85%, 0);
  --color-homepage-dark: hsla(200deg, 100%, 85%, 0.1);
}