:root {
  --logo-accent: #4433ff;
  --logo-secondary: #f3bc1c;

  --text-color: #282828;
  --text-secondary-color: #787878;

  --link-hover: #338af9;
  --color-accent: #218af9;
  --color-accent-secondary: #d30504;
  --color-mute: #61646e;

  --background-main: #f4f4f8;
  --background-code: #e6e6ea;

  --hero-gradient-start: rgba(233, 241, 250, 1);
  --hero-gradient-end: rgba(237, 227, 251 ,1);
}