:root {
  --logo-accent: #4433ff;
  --logo-secondary: #f3bc1c;

  --text-color: #282828;
  --text-secondary-color: #787878;

  --link-hover: #338af9;
  --color-accent: #218af9;

  --background-main: #fffae4;
}