@font-face {
  font-family: "League Mono";
  src: url("/font/LeagueMono-Medium.woff2") format("woff2"),
    url("/font/LeagueMono-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

:root {
  --font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  --font-family-mono: "League Mono", monospace;
  --font-size: 18px;
  --font-size-small: 12px;
  --line-height: 1.5;
}

@media (max-width: 960px) {
  :root {
      --font-size: 16px;
  }
}