.wrapper,
.header {
  /* Permanently static to fix overlay issues */
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1;
}

.header {
  padding: 1rem 0;
  z-index: 2;
}

.wrapper {
  background: var(--background-main);
}

.content {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social {
  display: flex;
}
