.header {
  position: sticky;
  top: 0;
  display: flex;
  padding: 24px 0;
  z-index: 2;
  color: var(--header-color);
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.right a {
  text-decoration-thickness: 0.015em;
  transition: color 0.2s;
}

.right a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

.social {
  margin-left: 5px;
}