.header {
  width: 100%;
  display: flex;
  padding: 24px 0;
  z-index: 2;
  color: var(--header-color);
}

.right {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social {
  margin-left: 5px;
}