.footer {
  max-width: var(--max-width);
  width: 100%;
  padding: 1rem 0;
  margin: auto auto 0;

  display: flex;
  justify-content: space-between;

  font-size: var(--font-size-small);
  color: var(--color-mute);
}

.copyright {
  font-size: var(--font-size);
  margin-right: 8px;
}

.block {
  display: flex;
  align-items: center;
}
