.post {
  padding: 12px;
  color: var(--text-color);
  box-shadow: 15px 15px 0px 0px;
  border-top: 2px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 2px solid black;
}

.title {
  font-size: 22px;
  margin: 0 0 8px;
}

.date {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin: 0 0 16px;
}

.link {
  display: block;
  text-decoration: none;
}

.decription {
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 16px;
}

.more {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
}

.more,
.title {
  transition: color 0.2s;
}

.post:hover .title,
.post:hover .more {
  color: var(--link-hover);
}

.post + .post {
  margin-top: 48px;
}

.icon {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}
