.nav {
  height: 100%;
}

.nav ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center
}

.navItem {
  margin: 0 0.2em;
}

.navItem:first-child {
  margin-left: 0;
}